.navbar{
    width:100%;
    padding :5px 6%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    position:fixed;
    font-size:14px;
    color:#e5e5e5;
    background-image:linear-gradient(180deg, rgba(0,0,0,0.7) 10%,transparent);
    z-index: 1;
}
.navbar-left{
    display:flex;  
    align-items: center;
    gap:50px;
    

}
.navbar-left img{
    width:90px;
    height:auto;
}
.navbar-left ul{
    display:flex;
    list-style: none;
    gap:20px;
    padding:0;
    margin:0;

}
.navbar-left ul li{
   cursor: pointer; 
}
.navbar-right{
    display:flex;
    gap:20px;
    align-items:center;
    

}
.navbaricons{
    width:20px;
    cursor: pointer;
    height:20px;
    
}
.navbar-profile {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    position:relative;
}
.navbar .dropdown{
    position:absolute;
    top:100%;
    right:0;
    width:max-content;
    background:#191919;
    padding: 18px 22px;
    border-radius: 2px;
    text-decoration: underline;
    z-index:1;
    display:none;

}
.navbar-profile .dropdown p{
    font-size: 13px;
    cursor: pointer;
}
.navbar-profile:hover .dropdown{
    display:block;
}
.nav-dark{
    background:#141414;
}